# Ignorar todos os diretórios __pycache__ e cache
**/__pycache__/
/__pycache/
.ruff_cache
.mypy_cache

# Ignorar arquivos específicos
.qodo

# Ignorar variáveis de ambiente
.env

# Ignorar documentações de Content e Tree
/docs/pipeboard_content.json
/docs/pipeboard_tree.txt
